.container {
    background-color: var(--white);
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    transition: 0.5s;
  }
  
  .column--right {
    width: 50%;
  }
  
  .components {
    width: 100%;
  }
  
  .column--left {
    width: 40%;
    color: var(--grey1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo{
    width: 250px;
  }
  
  .column--left > button {
    width: 241px;
    height: 48px;
  
    border-radius: 8px;
    border: none;
    
    margin-top: 20px;
    cursor: pointer;
  
    font-size: 1rem;
    font-weight: 600;
  
    color: var(--white);
    background-color: var(--primary);
  }
  
  .column--left > button:hover{
    background-color: var(--secondary);
  }
  
  @media (max-width: 1200px) {
    .container {
      flex-direction: column;
      gap: 100px;
    }
  
    .logo {
      width: 200px;
    }
  
    .column--left {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      text-align: center;
      min-width: 60%;
    }
  
    .column--left > button {
      width: 100%;
      max-width: 250px;
    }
  
    .column--right {
      width: 70%;
    }
  }
  