.header {
    background-color: var(--grey1);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  nav {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
  }
  
  nav > img{
    width: 200px;
  }
  
  nav > button {
    background-color: #e1e2e2;
    width: 64px;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
  
  nav > button:hover{
    background-color: var(--secondary);
    color: var(--white);
  }

  @media(max-width: 500px){
    .logo--home{
      width: 150px;
    }
  }

